nav > ul{
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
.card{
  background-color: #fff;
  color: #000;
  margin-bottom: 10px;
}
li{
  list-style: none;
  padding: 5px;
}
.menu{
  align-self: center;
  text-align: center;
}
h1{
  text-align: center;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  border-bottom: 3px solid #fff;
}
button{
  border: 3px solid #fff;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  margin: 20px;
  align-self: center;
  border-radius: 100px;
  cursor: pointer;
}
button:hover{
  background-color: #fff;
  color: #000;
  border: 3px solid black;
}
button:focus{
  outline: none;
}
input{
  background-color: #000;
  color: #fff;
  border: 3px solid #fff;
  padding: 4px;
}
input:focus{
  outline: none;
}